@font-face {
  font-family: 'maax';
  src: url(../fonts/Maax.otf) format('opentype'),
    url(../fonts/Maax.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'maax';
  src: url(../fonts/Maax-Bold.otf) format('opentype'),
    url(../fonts/Maax-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'maax';
  src: url(../fonts/Maax-Medium.otf) format('opentype'),
    url(../fonts/Maax-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}
@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}
h1 {
  margin: 2rem 0 0.5rem;
  font-size: 2.25rem;
  font-weight: 500;
}
h2 {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.25rem;
}
.text-white {
  color: white;
}
.text-center {
  text-align: center;
}
.pt-5 {
  padding-top: 1rem;
}
.is-hidden {
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'maax', sans-serif;
  background: #1b57d1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.is-flipped {
  animation: flip 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.is-flipped img {
  transform: rotateY(180deg);
}
.grid {
  display: grid;
  max-width: 64rem;
  margin: 0 auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
}
.grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 10rem;
  font-size: 10rem;
  background-color: #f0f0f02b;
  width: 15rem;
  max-width: 100%;
  height: 12.5rem;
  transition: opacity ease-in-out 1s;
  overflow: hidden;
}
.grid img {
  max-width: 85%;
  max-height: 85%;
}
.is-opacity {
  opacity: 0.2;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  color: white;
  opacity: 0;
  z-index: -1;
  transition: opacity ease-in 1s;
  font-size: 2rem;
  line-height: 3rem;
  padding: 2rem;
}
.isSolved .modal {
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 40rem) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
  .modal {
    padding: 6rem;
    background: none;
    text-shadow: 0 0 10px #48bb78;
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media (min-width: 64rem) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
