@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}
h1 {
  margin: 2rem 0 0.5rem;
  text-shadow: 0 0 2px #22543d;
  font-size: 1.6rem;
}
h2 {
  text-shadow: 0 0 2px #22543d;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1rem;
  font-style: italic;
}
.text-white {
  color: white;
}
.text-center {
  text-align: center;
}
.pt-5 {
  padding-top: 1rem;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: #48bb78;
}
.is-flipped {
  animation: flip 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.is-flipped .is-placeholder {
  display: none;
}
.is-tile {
  transform: rotateY(180deg);
}
.grid {
  display: grid;
  max-width: 60%;
  margin: 0 auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}
.grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 1px 1px #e1e1e1;
  color: white;
  line-height: 10rem;
  font-size: 10rem;
  background-color: #e1e1e1;
  width: 100%;
  height: 200px;
  transition: opacity ease-in-out 1s;
}
.is-flipped {
  background: radial-gradient(circle, #f0fff4 25%, #9ae6b4 100%);
}
.grid > div:not(.is-flipped) img {
  width: 50%;
}
.grid img {
  width: 100%;
  mix-blend-mode: multiply;
}
.is-opacity {
  opacity: 0.2;
  background-color: #9ae6b4;
}
.counter {
  text-align: left;
  font-weight: 400;
}
